<%= render 'layouts/top_dashboard', page_title: "Optimised Delivery Route" %>
  <div class="mb-5"
     style="width: 100%; height: 600px;"
     data-controller="delivery-route"
     data-delivery-route-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-delivery-route-coordinates-value="<%= @coordinates %>"
     data-delivery-route-target="map"></div>

<%= render 'layouts/btm_dashboard' %>

<script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
