<%= render 'layouts/top_dashboard', page_title: 'My Products' %>
  <div class="container">
    <%= render 'products/form_product', product: @product %>
  </div>

  <div class="container">
    <div class="grid-2">
      <% @products.each do |product| %>
        <%= render 'product_card', product: product %>
      <% end %>
    </div>
  </div>


<%= render 'layouts/btm_dashboard' %>
