// HERO SECTION

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: url("https://res.cloudinary.com/dqjdq06qv/image/upload/v1714850432/undead_drinking_at_the_bar_kykqyr.webp");
  background-size: cover;
  background-position: 10% 70%;
  filter: brightness(0.65);
}
.hero-container {
  text-align: center;
  opacity: 0;
  background-size: cover;
  background-position: 10% 70%;
  height: 90vh;
  width: 100%;
  filter: brightness(0.65);
  animation: fadeIn 0.5s 0.6s ease-in forwards;
}

.centered {
  width: 70%;
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.hero-title {
  color: #39ff14;
  text-shadow: -19px 12px 11px rgba(244, 1, 1, 0.6);
  opacity: 0;
  animation: fadeIn 0.5s 0.4s ease-in forwards;
  letter-spacing: 3px;
  font-weight: 900;
}

.hero-subtitle {
  color: white;
  text-shadow: -19px 12px 11px rgba(244, 1, 1, 0.6);
  opacity: 0;
  animation: fadeIn 0.5s 0.6s ease-in forwards;
  font-weight: 600;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  animation: fadeIn 0.5s 0.8s ease-in forwards;
}

// PRODUCT DISPLAY SECTION
.products-display-container {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
}

.product-display-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.product-display-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.product-img {
  width: 300px;
  height: 300px;
  border: 1px solid var(--bloodRed);
}

.product-display-name {
  opacity: 0;
  font-size: clamp(1rem, 1600px, 2.5rem);
  font-family: $headers-font;
  color: var(--primary);
  animation: fadeIn 0.5s 0.4s ease-in forwards;
}

.product-display-text {
  opacity: 0;
  color: var(--secondary);
  width: 70%;
  text-align: center;
  font-size: clamp(0.5rem, 1600px, 1.5rem);
  font-family: $body-font;
  animation: fadeIn 0.5s 0.6s ease-in forwards;
}

.product-display-images {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
  animation: fadeIn 0.5s 0.8s ease-in forwards;
}

// Full Width Banner Container
.full-width-banner-container {
  background-image: url('https://res.cloudinary.com/dqjdq06qv/image/upload/v1714840470/undead_having_fun_at_the_bar_kfkmtj.webp');
  height: 40vh;
  width: 100%;
  filter: brightness(0.65);
  background-size: cover;
  background-position: 10% 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.7rem;
}

.full-width-title {
  font-size: 2.3em;
  color: #39ff14;
  font-family: $headers-font;
}

.full-width-subtitle {
  font-size: 1.5rem;
  color: white;
  font-family: $body-font;
}

// Accordian Section
.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  width: 100%;
  margin-bottom: 3rem;

  .accordion-title {
    color: #4B0082;
    font-size: 2.5rem;
    font-family: $headers-font;
  }

  .accordion {
    width: 80%;
  }
}

// Footer
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
