*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-image: radial-gradient(circle, #051937, #0a314b, #204a5b, #3e636a, #5f7c7a);
  height: 100vh;
}
