*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logoColor: #271232;
  --primary: #4B0082;
  --secondary: #CFB53B;
  --bloodRed: #8A0303;
  --bgColorBlack: #000000;
  --bgColorWhite:#F8F8FF;
}

body {
  background-color: var(--bgColorBlack);
  overflow-x: hidden;
}

.img-res {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@import "home";
