*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logoColor: #271232;
  --primary: #4B0082;
  --secondary: #CFB53B;
  --bloodRed: #8A0303;
  --bgColorBlack: #000000;
  --bgColorWhite:#F8F8FF;
  --green: #8DBF10;
  --purple: #6348A5;
  --yellow: #F8CF3A;
  --brown: #B55915;
  --border-radius-mid: 10px;
  --header-height: 4rem;
  --border-radius-sm: 5px;
  --bs-navbar-hover-color: #F8CF3A;
}

body {
  background-color: #153335;
  overflow-x: hidden;
}

.img-res {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@import "home";
@import "dashboard";
@import "products";
