.product-banner {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 50vh;
  color: #39FF14;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -65px;

  h1 {
    position: relative;
    top: 25%;
    font-family: 'Creepster', cursive; // Ensure you've included this font in your assets or via a CDN
    font-size: 48px; // Large text size for impact
    color: #39FF14; // Muted gold color for a thematic feel
    text-shadow: 1px 7px 14px rgba(6, 6, 6, 1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20vh;
  }
}

.product-banner .product-banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; // Puts the image behind the text
  filter: brightness(100%);
}



.custom-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuisine-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cuisine-image {
  width: 50%;
  flex: 1 1 40%; /* Flex grow, flex shrink, flex basis */
  max-width: 40%;
  margin-right: 20px;
}

.product-text-content {
  flex: 1 1 60%; /* Flex grow, flex shrink, flex basis */
  max-width: 60%;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .cuisine-content {
      flex-direction: column;
      align-items: center;
  }

  .cuisine-image,
  .product-text-content {
      max-width: 100%;
      flex-basis: 100%;
      margin-right: 0;
  }

  .product-text-content {
      padding: 20px 0;
  }
}

.product-text-content h2 {
  margin-bottom: 20px;
  color: var(--yellow);
}

.product-text-content p {
  line-height: 1.6;
}

.products-container {
  margin-top: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.products-cards {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product-cuisine .product-cuisine-image {
  flex: 1 1 40%;
  max-width: 40%;
  height: auto;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.product-cuisine .product-text-content {
  flex: 1 1 55%; /* Takes up 55% of the container */
  max-width: 70%;
}

.product-cuisine h2 {
  color: #39FF14;
  font-size: 36px;
  margin-bottom: 20px;
}

.product-cuisine p {
  font-size: 18px;
  line-height: 1.6;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* CSS for the Product Details Page */
.product-detail-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
  padding: 20px;
}

.product-detail-container {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  flex-direction: row; /* Align items side by side */
  align-items: flex-start; /* Align items at the start of the cross axis */
  background: var(--purple);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Take full width to accommodate both child elements */
  max-width: 1200px; /* Set a max-width for better control on large screens */
}

.product-image-container {
  width: 40%; /* Control the size of the image container */
  overflow: hidden;
  border-radius: 10px; /* Apply border-radius to the image container */
}

.product-image {
  width: 100%;
  height: auto;
}

.product-info {
  flex: 2;
  padding: 20px;
  text-align: left;
  color: var(--yellow);
}

.product-info h3 {
  color: var(--green);
  font-family: 'Creepster', cursive;
  position: relative;
}

.product-info h3::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.product-title, .product-price, .product-description {
  margin-bottom: 10px;
}

.product-title {
  font-size: 2.5em;
  color: #333;
}

.product-description, .product-details {
  font-size: 1.2em;
}

.product-price {
  font-size: 1.5em;
  color: #28a745; /* A green color to emphasize the price */
}

.btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: white;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}

.quantity-input {
  // margin-right: 10px;
}

@media (max-width: 768px) {
  .product-detail-container {
    flex-direction: column;
    align-items: center;
  }

  .product-image-container, .product-info {
    width: 100%;
  }

  .product-info {
    text-align: center;
  }
}
