<div class="hero-container">
  <div class="hero-wrapper"></div>
  <div class="centered">
    <div class="hero-content">
      <h1 class="hero-title">Monster Munchies</h1>
      <h3 class="hero-subtitle">Feast for the Eternal</h3>
    </div>

    <div class="hero-buttons">
      <%= link_to "Enter if You Dare", "#", class: "buttonOne" %>
      <%= link_to "Unearth Our Menu", "#", class: "buttonTwo" %>
    </div>
  </div>
</div>

<div class="products-display-container">
  <div class="product-display-wrapper">

    <div class="product-display-content">
      <div class="product-display-name">Spooky Atmosphere</div>
      <div class="product-display-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio labore a totam voluptate mollitia eveniet nobis, doloribus dolor officiis cum quibusdam, quam consequatur, ea facilis omnis ullam atque!
      </div>
    </div>

    <div class="product-display-images">
      <%# <img src="" alt="" class="img-res">
      <img src="" alt="" class="img-res">
      <img src="" alt="" class="img-res"> %>
      <div class="product-img"></div>
      <div class="product-img"></div>
      <div class="product-img"></div>

    </div>

  </div>
</div>
