// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

nav {
  opacity: 0;
  height: 10vh;
  background-color: var(--logoColor);
  animation: fadeIn 0.5s 0.4s ease-in forwards;
}

.navbar-items-end {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
}

.rounded-circle {
  border: 2px solid var(--bloodRed);
}

.dropdown > ul {
  z-index: 9999;
}

.navbar-nav > li > a {
  opacity: 0;
  color: var(--secondary);
  animation: fadeIn 0.5s 0.6s ease-in forwards;
}

.navbar-brand {
  transform: scale(1.25);
  border-radius: var(--border-radius-sm);

  h2 {
    color: #8EBD16;
  }
}
