<section class="product-banner">
    <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714840470/undead_having_fun_at_the_bar_kfkmtj.webp" alt="Dining with the Undead" class="product-banner-img">
    <h1>Dine with the Undead</h1>
</section>

<!-- Product Cards -->
<% @products.each do |product| %>
  <%= render 'product_card', product: product %>
<% end %>

<section class="product-cuisine">
    <div class="product-cuisine-container">
        <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714843525/product-cuisine-about-2_sqesyo.webp" alt="Spooky culinary delights" class="product-cuisine-image">
        <div class="product-text-content">
          <h2>About Our Eerie Eats</h2>
          <p>Step into a world where each dish tells a tale of mystery and horror. At Monster Munchies, we specialize in creating culinary experiences that are not only mouth-watering but also mind-bending. From the depths of the undead kitchens, our recipes are conjured to thrill and chill.</p>
          <p>Our signature dishes, like the 'Sarcophagus Stew' and 'Mummy Wraps', use ingredients sourced from the darkest corners of the earth, seasoned with ancient herbs whispered in folklore. Dare to dine with us, and savor the taste of the unknown!</p>
        </div>
    </div>
</section>
