<section class="product-banner">
    <img src="https://res.cloudinary.com/dqjdq06qv/image/upload/v1714879656/undead_cooking_in_the_kitchen_batcheditor_fotor_h59xmf.webp" alt="Undead dining in a restaurant" class="product-banner-img" style="object-position: center -360px;">
    <h1 class="product-title">Create a New Product</h1>
</section>
<%= render 'form_product', product: @product %>
