
  <div class="dashboard-layout">
    <div class="sidebar-layout">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="content-area-layout">
      <div class="header-dashboard">
        <p><i class="fa-solid fa-building-columns"></i> Hello there</p>
        <p><%= page_title %></p>
      </div>
      <hr class="hr-fix" />
        <div class="container_dashboard">
